[Unit]
Description=LinBPQ BBS for Winlink
After=direwolf.service

[Service]
User=root
WorkingDirectory=/home/pi/linbpq
ExecStart=/usr/bin/linbpq
Restart=always

[Install]
WantedBy=multi-user.target
